body{
    font: 200px, Arial, sans-serif;

}

.navbar{
    background-color: #AAD667;

}
.quem-somos{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.margin{    
    padding-bottom: 50px;
    padding-top: 10px
}

.parceiros{
    background-color:#73E4DC;
}
.bg-footer{
    background-color: #AAD667;
    color:#fff;
}
